/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  border: 3px solid black;
  background-color: brown;
  height: 500px;
  display: grid;
  gap: 3px;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 30px 1fr 30px;
}

.box {
  border: 3px solid black;
  background-color: aqua;
}
#box1, #box5 {
  /* these start and end points are based on lines of the grid a 3 column based grid contains 4 lines - line1,line2,line3,line4 */
  grid-column-start: 1;grid-column-end: 4;
}


