* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}

.container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}
.background {
  transform: translateZ(-20px) scale(4);
}
.foreground {
  transform: translateZ(-10px) scale(2);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
#wrapper > .container > h1 {
  position: absolute;
  font-size: 10rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  top: 5rem;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
